* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.container {
  margin: 20px 40px;
}

.container h1 {
  margin-bottom: 16px;
  font-size: 20px;
}

.thumbnail-place {
  position: relative;
  margin-bottom: 24px;
}

.thumbnail-place .thumbnail-img {
  border-radius: 4px;
  width: 150px;
}

.thumbnail-place .add-to-cart {
  position: absolute;
  bottom: -10px;
  left: 18px;
  background-color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 15px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.product-detail .product-title {
  font-size: 13px;
  color: #646060;
  margin-bottom: 4px;
}

.product-detail .product-name {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 4px;
}

.product-detail .product-price {
  font-size: 14px;
  font-weight: bold;
  color: #e75015;
}