* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

body {
  display: flex;
}

body {
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
}

.product-container {
  display: grid;
  margin: 20px 30px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  /* max-width: 1324px; */
}

@media(max-width: 1500px){
  .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    column-gap: 10px;
    row-gap: 10px;
  }
}

@media(max-width: 1200px){
  .product-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  body {
    flex-direction: column;
    align-items: center;
  }
}

.container h1 {
  margin: 10px 60px;
  font-size: 20px;
}

.thumbnail-place {
  position: relative;
  margin-bottom: 24px;
}

.thumbnail-place .thumbnail-img {
  border-radius: 4px;
  width: 150px;
  transition: border .2s ease;
}

.thumbnail-place .add-to-cart {
  position: absolute;
  bottom: -10px;
  left: 18px;
  background-color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 15px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all .3s;
}

.add-to-cart:hover {
  border: 1px solid #e75015;
  color: #e75015;
}

.product-detail .product-title {
  font-size: 13px;
  color: #646060;
  margin-bottom: 4px;
}

.product-detail .product-name {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 4px;
  text-wrap: nowrap;
}

.product-detail .product-price {
  font-size: 14px;
  font-weight: bold;
  color: #e75015;
}

/* Cart Quantity */
.cart-container {
  display: flex;
  flex-direction: column;
  margin: 10px 30px;
}

.cart-container h1 {
  font-size: 20px;
  text-wrap: nowrap;
  color: #e75015;
  margin-bottom: 20px;
}

.cart-container .cart-quantity-container {
  display: flex;
  flex-direction: column;
}

.cart-quantity {
  margin-bottom: 10px;
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.product-quantity {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.product-quantity > p {
  text-wrap: nowrap;
}

.product-quantity-count {
  display: flex;
}

.quantity-item-name {
  font-weight: bold;
  margin-bottom: 8px;
}

.product-quantity-count .quantity-count {
  color: #e75015;
  font-weight: bold;
  font-size: 15px;
  margin-right: 9px;
}

.product-quantity-count .item-price {
  color: #646060;
  font-size: 15px;
  margin-right: 9px;
}

.product-quantity-count .quantity-total {
  color: #646060;
  font-size: 15px;
  margin-right: 9px;
  font-weight: bold;
}

.remove-quantity-btn {
  margin-right: 10px; 
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.remove-quantity-btn img {
  width: 15px;
  aspect-ratio: 1;
}

.order-btn {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  color: #fff;
  background-color: #e75015;
  margin-top: 20px;
  cursor: pointer;
  transition: all .2s;
}

.order-btn:hover {
  filter:contrast(90%);
}

.border-active {
  border: 2px solid #e75015;
}

.order-btn:active {
  opacity: .6;
}